= form_for [:admin, @page] do |f|
  = render 'errors', object: f.object
  
  = field_set_tag 'Page Info' do
    = f.fields_for :meta_data do |f|
      .field
        = f.label :title
        = f.text_field :title
      - unless @page.protected?
        .field
          = f.label :url_alias
          = f.text_field :url_alias
      .field
        = f.label :description, 'Meta Description'
        = f.text_area :description



  = field_set_tag 'Page Details' do

    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :body
      = f.cktext_area :body

    = field_set_tag 'Banner' do
      = f.fields_for :banner_images do |image_f|
        - if image_f.object.image.url.present?
          .preview.destroyable
            = image_f.hidden_field :id
            = image_f.check_box :_destroy, class: '_destroy'
            = image_tag image_f.object.image
            = image_f.label :_destroy, 'Remove Image'

      = f.label :new_banner_images
      = f.file_field :new_banner_images, multiple: true

    - unless @page.protected?
      .field
        = f.label :in_menu, 'In Menu?'
        = f.check_box :in_menu

  = field_set_tag 'Apartments' do
    Which apartments should display?
    - Apartment.find_each do |apartment|
      .field
        = label_tag "apartment_ids[#{apartment.id}]", apartment.name
        = check_box_tag 'page[apartment_ids][]', apartment.id, @page.apartments.include?(apartment), id: "apartment_ids_#{apartment.id}"


  .actions
    = f.submit 'Save'
    = f.submit 'Cancel', class: 'cancel_button'
