- provide :title, 'Gallery Images'

= content_for :page_actions do
  = form_for GalleryImage.new, url: admin_galleries_path do |f|
    = f.label :image, '+ Add Image'
    = f.file_field :image, class: 'hidden', multiple: true, onChange: '$(this).parent().submit()'

%table
  %thead
    %tr
      %th Image
      %th
  %tbody
    - if @images.any?
      - @images.each do |image|
        %tr
          %td.preview= image_tag image.image
          %td.action_columns
            = link_to 'Delete', admin_gallery_path(image), method: :delete, data: {confirm: 'This cannot be undone, are you sure you want to delete this?'}
    - else
      %tr.no_results
        %td{colspan: 2}
          = "No images found."
