- provide :title, "#{@apartment.name} // enquiries"

%table
  %thead
    %tr
      - [:name, :email].each do |col|
        %th= col.to_s.humanize
      %th
  %tbody
    - if @enquiries.any?
      - @enquiries.each do |row|
        %tr
          - [:name, :email].each do |col|
            %td= row.send col
          %td.action_columns
            = link_to 'View', [:admin, @apartment, row]
            = link_to 'Delete', [:admin, @apartment, row], method: :delete, data: {confirm: 'This cannot be undone, are you sure you want to delete this?'}
    - else
      %tr.no_results
        %td{colspan: 3}
          = "No #{controller_name.humanize} found."