= link_to 'Pages', [:admin, :pages]
= link_to 'Blogs', [:admin, :blogs]
= link_to 'Apartments', [:admin, :apartments]
= link_to 'Enquiries', [:admin, :enquiries]
= link_to 'Gallery', [:admin, :galleries]
= link_to 'Users', [:admin, :users]
