= provide :edit, link_to('Edit', [:edit, :admin, @page])

#banner.large_banner{style: "background-image: url(#{@page.banner})"}
  #banner_text
    %h2 Stylish, Serviced Apartments in the Heart of the Historic City
    %p
      If you are visiting Norwich for business or pleasure,
      %br
      Our
      %b Stylish Apartments
      are a great way to stay and enjoy
      %b luxury Accomodation.

#content_wrapper
  #content
    .split_page
      .main_column.body_text
        = raw @page.body
      .side_column.form
        = form_for Enquiry.new do |f|
          %h2 Get in touch
          = render 'enquiries/fields', f: f

    #apartment_teasers
      = render partial: 'apartments/teaser', collection: Apartment.all, as: :apartment


