= provide :edit, url_for([:edit, :admin, @page])

#banner.large_banner{style: "background-image: url(#{@page.banner})"}
  #banner_text
    %h2 Stylish, Serviced Apartments in the Heart of the Historic City
    %p
      If you are visiting Norwich for business or pleasure,
      %br
      Our
      %b Stylish Apartments
      are a great way to stay and enjoy
      %b luxury Accomodation.

#content_wrapper
  #content
    .split_page
      .main_column.body_text
        = raw @page.body
      .side_column
        = image_tag 'front_feat.png'

    #service_summaries
      .service_summary
        = image_tag 'front_accom.png'
        = image_tag 'front_corp.png'
        = image_tag 'front_lesisure.png'


