- provide :edit, link_to('Edit', [:edit, :admin, @page])
- provide :title, @page.title
- provide :meta_description, @page.description

#banner.large_banner{style: "background-image: url(#{@page.banner})"}
  - if @page.banner_images.count > 1
    #banner_images.unslide
      %ul
        - @page.banner_images.each do |image|
          - unless image.image.blank?
            %li.slide{style: "background-image: url(#{image.image})"}
  #banner_text
    %h2 Stylish, Serviced Apartments in the Heart of the Historic City
    %p
      If you are visiting Norwich for business or pleasure,
      %br
      Our
      %b Stylish Apartments
      are a great way to stay and enjoy
      %b luxury Accomodation.

#content_wrapper
  #content
    .split_page
      .main_column.body_text
        = raw @page.body
      .side_column.form
        = form_for Enquiry.new do |f|
          %h2 Get in touch
          = hidden_field_tag :referer, url_for
          = render 'enquiries/fields', f: f

    #apartment_teasers
      = render partial: 'apartments/teaser', collection: Apartment.all, as: :apartment
