- if @apartment
  - provide :title, "#{@apartment.name} // "
- provide :title, 'Enquiry'

%h4 Name
%p= @enquiry.name
%h4 Email
%p= @enquiry.email
%h4 Phone
%p= @enquiry.phone
%h4 Date From
%p= @enquiry.date_from.strftime('%d/%m/%Y')
%h4 Date To
%p= @enquiry.date_to.strftime('%d/%m/%Y')
%h4 Body
%p= simple_format @enquiry.body
%h4 Apartment
%p= @enquiry.apartment&.name
