= form_for [:admin, @blog] do |f|
  = render 'errors', object: f.object

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :body
    = f.cktext_area :body

  .actions
    = f.submit 'Save'
    = f.submit 'Cancel', class: 'cancel_button'