%header#header
  - if signed_in?
    = render 'admin_bar'

  #header_inner
    #logo
      = link_to image_tag('logo.png'), root_url
    #contact_header_details
      %span Email. emily@lcapartmentsnorwich.co.uk
      %span Tel. 07771 881456
      = link_to fa_icon('twitter'), 'https://twitter.com/LCANorwich'
      = link_to fa_icon('facebook'), 'https://www.facebook.com/norwichluxuryapartments/ '
      = link_to fa_icon('linkedin'), 'https://www.linkedin.com/company/10875919'
      = link_to fa_icon('google-plus'), '#'
    #main_menu
      = link_to 'Home', root_url
      - Page.menu_pages.find_each do |page|
        = link_to page.name, page
      = link_to 'Visit Norwich', gallery_url
      = link_to 'Contact Us', '/contact-us'
    #menu_toggle
      = link_to fa_icon('bars'), 'javascript:void(0)'
