%h1 New website enquiry

%p
  %b Name:
  %br
  = @enquiry.name
%p
  %b Email:
  %br
  = @enquiry.email
%p
  %b Phone:
  %br
  = @enquiry.phone
%p
  %b Date From:
  %br
  = @enquiry.date_from
%p
  %b Date To:
  %br
  = @enquiry.date_to
%p
  %b Body:
  %br
  = simple_format @enquiry.body
%p
  %b Apartment:
  %br
  = @enquiry.apartment&.name
