= provide :edit, link_to('Edit', [:edit, :admin, @apartment])

#banner{style: "background-image: url(#{@apartment.cover_image})"}
#content_wrapper
  #content
    .split_page
      .main_column.body_text
        = raw @apartment.body
        .summary_stats
          = raw @apartment.information
      .side_column
        .arrangement_form
          %h3 Arrangement Form
          = form_for @enquiry do |f|

            .field
              = f.label :name
              = f.text_field :name
            .field
              = f.label :email
              = f.email_field :email
            .field
              = f.label :phone
              = f.text_field :phone
            .field
              = f.label :data_to
              = f.text_field :date_to, class: 'datepicker'
            .field
              = f.label :data_from
              = f.text_field :date_from, class: 'datepicker'
            .field
              = f.label :body
              = f.text_area :body

              = f.hidden_field :apartment_id
            .actions
              = f.submit :send
        .google_maps_embed
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :src => "#{@apartment.maps_embed_code}", :style => "border:0", :width => "100%"}
.apartment_images
  .apartment_images_slideshow
    %ul
      - @apartment.apartment_images.each do |img|
        %li{style: "background-image: url(#{img.image})"}
