= provide :edit, link_to('Edit', [:edit, :admin, @apartment])

#banner{style: "background-image: url(#{@apartment.cover_image})"}
  - if @apartment.apartment_images.count > 1
    #banner_images.unslide
      %ul
        - @apartment.apartment_images.each do |image|
          %li.slide{style: "background-image: url(#{image.image})"}
#content_wrapper
  #content
    .split_page
      .main_column.body_text
        = raw @apartment.body
        .summary_stats
          = raw @apartment.information
      .side_column.form
        = form_for @enquiry do |f|
          %h2 Arrangement Form
          = render 'enquiries/fields', f:f
        .google_maps_embed
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :src => "#{@apartment.maps_embed_code}", :style => "border:0", :width => "100%"}
.apartment_images
  .apartment_images_inner
    - @apartment.apartment_images.each do |img|
      = link_to 'Apartment Image', img.image.url, data: {lightbox: 'apartment_images'}, style: "background-image: url(#{img.image})"
      / # .apartment_image{style: "background-image: url(#{img.image})"}
