= provide :edit, link_to('View Enquiries', [:admin, :enquiries])

#banner{style: "background-image: url(#{@page.banner})"}
  - if @page.banner_images.count > 1
    #banner_images.unslide
      %ul
        - @page.banner_images.each do |image|
          %li.slide{style: "background-image: url(#{image.image})"}
#content_wrapper
  #content
    .split_page
      .main_column.body_text
        = raw @page.body

      .side_column
        .arrangement_form
          %h3 Arrange a callback now
          = form_for @enquiry do |f|
            = render 'form_errors', object: f.object
            = render 'fields', f: f
